{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method ="POST">
            {% csrf_token %} <!--Debe añadirse, es seguridad de django-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mt-3 mb-2" type="submit">Reset Password</button>
            </div>
        </form>        
    </div>
{% endblock content %}

<!--Se llega desde el enlace del email, aqui se cambia la contraseña y te envia a password_reset_complete-->
