{% extends "blog/base.html" %}
<!--Se pone para que herede del base.html-->
{% block content %}
<!--Lo que haya aqui dentro sera lo que meta en el base.html-->
{% for post in posts %}
<!--En las views le pasé los posts y ahora puedo usarlas como quiera-->
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <!--Asi accedo a varibales-->
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url}}" alt="Author`s profile pic">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <!--La barra esa "|" filtra el display segun lo que le pidas-->
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>                                    <!--url que va a post-detail/pk (id del post que clicas)-->
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <p class="mb-3 article-content">{{ post.content }}</p>
        {% if post.image != "" %}
            <img class="mx-auto d-block" src="{{ post.image.url}}" alt="Uploaded pic">
        {% endif %}
    </div>
    <br>
    <hr>

    {% include 'blog/like_feature.html' %}
            
</article>
{% endfor %}
<!--Recuerda cerrar el codigo que abras-->
{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{num}}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">Last</a>
    {% endif %}
{% endif %}
{% endblock content %}
